.loading__container {
    display: flex;
    justify-content: end;
    align-items: end;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
}

.loader {
    margin: var(--space-md);
    border: 0.5rem solid var(--color-bg-dark);
    border-radius: 50%;
    border-top: 0.5rem solid var(--color-text-light);
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
}

.visually-hidden {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
